$color-box-1:#149df2; 
$color-box-2:#42c44a;

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 .1875rem $color-box-2 inset;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;

  .box-label {
    background: $color-box-2;
    color: white;
    height: 0.9rem;
    font-size: 0.7rem;
    left: 0;
    position: absolute;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    font-weight: 800;
  }
}
